<div id="navbar">
    <div class="container-fluid py-3 navbarbrand float-end">
        <div class="row d-flex flex-row justify-content-between">
            <div class="col">
                <div class="navbar-left d-flex flex-row justify-content-start">
                    <div id="nav-brand-large" class="ms-2 me-5"></div>
                    <img class="btn ps-5" src="/images/icon_menu.svg" alt="Icon Menu">
                </div>
            </div>
            <div class="col">
                <div class="navbar-right d-flex flex-row justify-content-end">
                    <div id="searchbar" class="px-4">
                        <form class="d-flex">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-blue" type="submit">Search</button>
                        </form>
                    </div>
                    <div id="account" class="ps-4 d-flex flex-row align-items-center">
                        <div id="avatar" class="fw-bold">U</div>
                        <p class="px-3 my-0 fw-bold">Unis Badri</p>
                        <div class="dropdown">
                            <img class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" src="/images/icon_chevron_down.svg" alt="Icon Dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">My Account</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>