<div id="sidebar">
    <div id="icon-nav">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <div class="row py-4">
                <div class="col">
                    <div id="nav-brand"></div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-column justify-content-center align-items-center nav-button" id="dashboard">
                    <a href="/"><img src="/images/icon_home.svg" alt="Icon Home"></a>
                    <p class="text-white m-0">Dashboard</p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex flex-column justify-content-center align-items-center nav-button selected" id="cars">
                    <a href="/cars"><img src="/images/icon_truck.svg" alt="Icon Cars"></a>
                    <p class="text-white m-0">Cars</p>
                </div>
            </div>
        </div>
    </div>
    <div id="side-nav">
        <div class="row">
            <div class="col">
                <h5 class="fw-bold text-grey py-3 px-4">CARS</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="fw-bold side-active py-3 px-4">List Car</h5>
            </div>
        </div>
    </div>
</div>